<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> 
            
            <%=title%>  
        </title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- General CSS -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('./partials/header') -%>
        <div class="body-content">
            <h2 class="center-heading">Recently Added</h2>
            <span class="content">
                <div id="recentlyAdded">
                    <ul class="display">
                        <li class="horizontal">
                            <a href="#">
                                <img src="img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
        
                        <li class="horizontal">
                            <a href="#">
                                <img src="img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
        
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
        
                    </ul>
                    </form>
                </div>  
            </span>
            <h2 class="center-heading">Most Downloaded</h2>
            <span class="content">
                <div id="sorted-content">
                    <ul class="display">
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
        
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
        
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
                        <li class="horizontal">
                            <a href="#">
                                <img src="/img/bookCover.png">
                                <p>Text</p>
                            </a>
                        </li>
        
                    </ul>
                </div>
            </span>
        </div>

        <%- include ('./partials/footer')-%>
       
    </body>
</html>