body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
    display:grid;
  }
  

  .body-content{
    padding-top: 50px;
  }
  
  .heading{
    padding-left: 25px;
    padding-top: 25px;
  }
  


  .sub-heading{
    text-align: left;
    padding-bottom: 15px;
    /* font-size: 100%; */
  }

.horizontal{
display: inline-block;
padding-right: 25px;
padding-bottom: 25px;
text-align: center;
}

.horizontal img{
max-width: 250px;
 max-height: 200px;
padding-bottom: 5px;   
}

.display{
margin:0px;
text-align: center;
margin: auto;
padding: 0px;
}


.info{
margin-left: 30%;
padding-top: 5%; 
}


.cover-image{
height: auto;
width: auto;
max-width: 50%;
max-height: 50%;
min-width: 40%;
min-height: 40%;
float: left;
}

.title{
    color:black;
    text-decoration: none;
}

.tilte:active{
    color: black;
}

.title:visited{
    color: black;
}

.title:hover{
    color: black;
    text-decoration:underline;
}
