.button{
    background-color: black;
    color:white;
    border-color: white;
    max-width:28rem;
    overflow-wrap: normal;
    margin-bottom: 1.5rem;
}
.button:hover{
    background-color: white;
    color:black;
    border-color: black;
}

.button:focus{
    background-color: rgb(48, 48, 48);
    color:white;
}

.button:active{
    background-color: rgb(48, 48, 48);
    color:white;
}


.search_button{
    background-color: black;
    color:white;
    border-color: white;
    max-width:28rem;
    overflow-wrap: normal;
}
.search_button:hover{
    background-color: white;
    color:black;
    border-color: black;
}

.search_button:focus{
    background-color: rgb(48, 48, 48);
    color:white;
}

.search_button:active{
    background-color: rgb(48, 48, 48);
    color:white;
}
