*{
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

/*  Header */
.navbar{
  background-color: rgb(95, 5, 5);
}


.navbar-brand{
  color:white !important;
}

.sub-item{
  background-color: rgb(99, 5, 5);
  color:white;
}

.sub-item:hover{
  background-color: black; 
  color:white;

}

.dropdown-menu{
  background-color: rgb(99, 5, 5);
}

#top-item{
  color: white;
  /* padding-left: 2px; */
  font-size: larger;
  /* padding-bottom: 2px; */
  /* justify-content: center; */
}


.search-button{
  /* border-style: groove; */
  background-color: white !important;
  color:  black !important;
  border-color: rgb(99, 5, 5) !important;
}

.search-button:hover{
  background-color: black !important;
  color:white !important;
  border-color: white !important;
}


/* Footer */
.footer{
  text-align: center;
  background-color: rgb(99,5,5);
  color: white;
  padding-top: 5px;
  left: 0;
  right: 0; 
  bottom:0;
  position:relative
}

.footer a:visited{

  color:white
}
.footer a:active{

  color:white
}
.footer a{
  color:white
}


.footer .left {
  border-right: 10px solid white;

  /* padding-right: 5px; */
}

.right {
  padding-left: 5px ;
}




/* Books */

.main-title{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}


.new-heading, .popular-heading {
  text-align: center;
}

@media screen and (min-width: 1100px) {

  .book-info{
      font-size: large;
      display: flex;
      padding-bottom: 50px;

  }

  .book-info img{
      /* max-height: 360px;
      max-width: 640px; */
      /* min-height: 60vh;    */
      min-width: 270px;
      min-height: 480px;
      float: left;
      padding-right: 5 em;
      padding-bottom: 50px;

  }

  .book-info-text-description{
      text-align: left;
      padding-left: 50px;
  }
  

  .book-info-text-links{
      text-align: left;
      /* padding-top: 5em; */
  }




}

@media screen and (max-width: 1100px) {
  .book-info{
      padding-right: 25px;
      padding-top: 25px;
      text-align: center;
      font-size: x-large;
      padding-bottom: 50px;
  }

  .book-info-text-description{
      text-align: center;
  }

  .book-info-text-links{
      text-align: center;
      padding-top: 2.5em;
  }

  
  .book-info img{
      /* max-width: 250px; */
      /* max-height: 480px; */
      min-height: 480px;
      padding-bottom: 50px;   
      align-self: center;
      /* text-align: center; */
      
  }
  .player-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.movie{
    width: 75%;
    /* padding-left:100px */
}

.movie-description{
    text-align: center;
    /* float:right; */
    /* padding-top: 150px; */
    font-size: x-large;
    padding-bottom: 75px;
}


  
}


