*{
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

/*  Header */
.navbar{
  background-color: rgb(95, 5, 5);
}


.navbar-brand{
  color:white !important;
}

.sub-item{
  background-color: rgb(99, 5, 5);
  color:white;
}

.sub-item:hover{
  background-color: black; 
  color:white;

}

.dropdown-menu{
  background-color: rgb(99, 5, 5);
}

#top-item{
  color: white;
  /* padding-left: 2px; */
  font-size: larger;
  /* padding-bottom: 2px; */
  /* justify-content: center; */
}


.search-button{
  /* border-style: groove; */
  background-color: white !important;
  color:  black !important;
  border-color: rgb(99, 5, 5) !important;
}

.search-button:hover{
  background-color: black !important;
  color:white !important;
  border-color: white !important;
}


/* Footer */
.footer{
  text-align: center;
  background-color: rgb(99,5,5);
  color: white;
  padding-top: 5px;
  left: 0;
  right: 0; 
  bottom:0;
  position:fixed
}

.footer a:visited{
  color:white
}
.footer a:active{
  color:white
}
.footer a{
  color:white
}


.left {
  border-right: solid white 2px;
  padding-right: 5px;
}

.right {
  padding-left: 5px ;
}



/* Home Content */

.horizontal{
  display: inline-block;
  padding-right: 45px;
  text-align: center;
}
  
.horizontal img{
  padding-bottom: 5px;   
}

.cover-image{
  max-width: 180px !important;
  min-width: 180px !important;
}

.display{
  margin:0px;
  text-align: center;
  margin: auto;
  padding-left: 10px;
/* justify-content: center; */
}


.info{
  margin-left: 30%;
  padding-top: 5%; 
}

.title{
  color:black;
  text-decoration: none;
}

.tilte:active{
  color: black;
}

.title:visited{
  color: black;
}

.title:hover{
  text-decoration:underline;
}

.heading-link, .heading-link:active, .heading-link:visited{
  font-size: 200%;
  padding-top: 30px;
  text-align: center;
  color:black;
  text-decoration: none;
}

.heading{
  font-size: 200%;
  padding-top: 30px;
  text-align: center;
  color:black;
  text-decoration: none;
}

.heading:hover{
  color:rgb(37, 37, 255);
  background-color: transparent;
}

.sub-heading, .sub-heading:active, .sub-heading:visited{
  color:black;
  text-decoration: none;
}




/* Books */
.buffer{
  padding-top: 200px;
}

.buffer-2{
  padding-top:100px;
}

.main-title{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;
}


.new-heading, .popular-heading {
  text-align: center;
}

@media screen and (min-width: 1100px) {

  .book-info{
      font-size: large;
      display: flex;
      padding-bottom: 50px;

  }

  .book-info img{
      max-height: 50vh;
      /* min-height: 60vh;    */
      min-width: 340px;
      min-height: 480px;
      float: left;
      padding-right: 5 em;
            padding-bottom: 50px;

  }

  .book-info-text-description{
      text-align: left;
      padding-left: 50px;
  }
  

  .book-info-text-links{
      text-align: left;
      /* padding-top: 5em; */
  }




}

@media screen and (max-width: 1100px) {
  .book-info{
      padding-right: 25px;
      padding-top: 25px;
      text-align: center;
      font-size: x-large;
      padding-bottom: 50px;
  }

  .book-info-text-description{
      text-align: center;
  }

  .book-info-text-links{
      text-align: center;
      padding-top: 2.5em;
  }

  
  .book-info img{
      /* max-width: 250px; */
      max-height: 80vh;
      min-height: 50vh;
      padding-bottom: 35px;   
      align-self: center;
      /* text-align: center; */
      
  }
  .player-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.movie{
    width: 75%;
    /* padding-left:100px */
}

.movie-description{
    text-align: center;
    /* float:right; */
    /* padding-top: 150px; */
    font-size: x-large;
    padding-bottom: 75px;
}


  
}


