
/* Home Content */
.body_content{
  align-items: center;
  align-content: center;
}


.horizontal{
    display: inline-block;
    padding-right: 45px;
    text-align: center;
    align-items: center
    
  }
    
  .horizontal img{
    padding-bottom: 5px;   
  }
  
  .cover-image{
    max-width: 180px;
    min-width: 180px;
  }
  
  .display{
    margin:0px;
    text-align: center;
    margin: auto;
    padding-left: 10px;
  /* justify-content: center; */
  }
  
  
  .info{
    margin-left: 30%;
    padding-top: 5%; 
  }
  
  .title{
    color:black;
    text-decoration: none;
    display:inline-table;
    width:180px;
    height:180px;
    padding-bottom: 25px;    
    padding-top: 25px;
  }
  
  .tilte:active{
    color: black;
  }
  
  .title:visited{
    color: black;
  }
  
  .title:hover{
    text-decoration:underline;
  }
  
  .heading-link, .heading-link:active, .heading-link:visited{
    font-size: 200%;
    padding-top: 30px;
    text-align: center;
    color:black;
    text-decoration: none;
  }
  
  .heading{
    font-size: 200%;
    padding-top: 30px;
    text-align: center;
    color:black;
    text-decoration: none;
    padding-bottom: 100px;
  }
  
  .heading:hover{
    color:rgb(37, 37, 255);
    background-color: transparent;
  }

  .underline{
    text-decoration: underline; 
    padding-left: 2em;
  }

  .sub_heading, .sub_heading:active, .sub_heading:visited{
    color:black;
    text-decoration: none;
    padding-top: 100px;
  }

  .buffer{
    padding-top: 20px;
  }
  